@tailwind base;

@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
  --bg-opacity: 1;
  background-color: #ebf4ff;
  background-color: rgba(235, 244, 255, var(--bg-opacity));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#root {
  width: 91.666667%;
  height: 100%;
}

@media (min-width: 640px) {
  #root {
    width: 75%;
  }

  body {
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  #root {
    width: 41.666667%;
  }
}

.label-custom {
  text-transform: lowercase;
  font-size: 1.125rem;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  font-weight: 600;
  margin-bottom: 0.25rem;
  padding-right: 1rem;
}

.input-custom {
  --bg-opacity: 1;
  background-color: #e2e8f0;
  background-color: rgba(226, 232, 240, var(--bg-opacity));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 2px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
  border-radius: 0.25rem;
  width: 14rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
  line-height: 1.25;
}

.input-custom:focus {
  outline: 0;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --border-opacity: 1;
  border-color: #4299e1;
  border-color: rgba(66, 153, 225, var(--border-opacity));
}

.badge {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  padding: 0.5rem;
  border-radius: 0.375rem;
  text-transform: lowercase;
  font-size: 1rem;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  letter-spacing: 0.1em;
}

@tailwind utilities;
